*.pyc
*.log
*.project
*.out
*.DS_STORE
target
.svn
.settings
.classpath
MANIFEST.MF
cachedir
TEST*.xml
*.svn
whoosh_index
.settings
tmp/*
logs
.pydevproject*
*.db
bin/
develop-eggs/
downloads/
eggs/
parts/
.installed.cfg
*.mo
src/media/uploads/
src/static/
